h1{
    font-weight:bolder;
    border-top:1px solid black ;
   
   font-weight:bold;
   padding:3px;
}
#contact{
   border-top:1px solid black ;
   border-bottom:1px solid black ;
   font-weight:bold;
   padding:3px;
}
#timing{
   border-top:1px solid black ;
   border-bottom:1px solid black ;
   font-weight:bold;
   padding:3px;
}